body {
  background-color: rgb(108, 87, 87);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: rgb(134, 150, 32);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(246, 250, 248, 0.1);
}

.address-form {
  margin-bottom: 30px;
}
.h1,h2 {
  background-color: rgb(247, 107, 7);
}

input[type="submit"]:hover {
  background-color: #b909ee;
}

.adresse-result {
  border: 1px solid #f2f4ed;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}

input[type="number"] {
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #940606;
  border-radius: 3px;
}

label{
  padding: auto;
  margin-bottom: 15px;
  background-color: aqua;
}


